<head>
    {% load static %}
       
    <!-- Compiled and minified CSS -->
        <link href="{% static "main/css/materialize.css" %}" rel="stylesheet">

    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

   {% if messages %}
        {% for message in messages %}
          <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% endfor %}
    {% endif %}

<body>
  <nav>
    <div class="nav-wrapper" style="background-color:lightblue ">
     <a href="#" class="brand-logo" style="font-size: xx-large;">Mami Blue</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="register/">Register</a></li>
        <li><a href="badges.html">Forum</a></li>
        <li><a href="collapsible.html">Blog</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <br>
    <br>
  {% block content %}
  {% endblock %}
  </div>
</body>

