
  <nav>
    <div class="nav-wrapper" style="background-color:darkblue ">
     <a href="#" class="brand-logo" style="font-size: xx-large;"> HooshanG</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="https://duckduckgo.com">DuckDuck</a></li> 


        {% if user.is_authenticated  %}
        <li><a href="/account">{{user.username|title}}</a></li>
        <li><a href="/logout">Log Out</a></li>
        {% else %}
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="collapsible.html">Blog</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>